---
import ArticleList from "../components/ArticleList";
import Boilerplate from "../layouts/Boilerplate.astro";
---

<Boilerplate
  title="Printing Talks - Articles"
  description="Explore the Printing Talks articles"
>
  <div class="flex flex-col">
    <div
      class="top-banner flex flex-col h-[12rem] md:h-[14rem] justify-center gap-1 self-stretch border-b border-solid p-4 md:px-12"
    >
      <h4 class="font-medium text-3xl">Articles</h4>
      <p class="text-neutral text-xl">
        Learn more about our work and the services we provide.
      </p>
    </div>
    <ArticleList client:visible />
  </div>
</Boilerplate>
