---
import Boilerplate from "../layouts/Boilerplate.astro";
import QuoteForm from "../components/QuoteForm";
import BestSellerCarousel from "../components/BestSellerCarousel";
import TestimonialCarousel from "../components/TestimonialCarousel";
---

<Boilerplate
	title="Printing Talks: Abu Dhabi's Leading Expert in Custom Printing & Packaging Solutions"
	description="Printing talks is located in the heart of Abu Dhabi, is a premier provider of top-tier printing and packaging solutions. Renowned for our commitment to excellence, we offer a wide array of services including high-quality digital printing, offset printing, custom packaging design, and production. Our state-of-the-art technology ensures precision and efficiency, catering to a diverse range of client needs from small businesses to large corporations. We specialize in creating eye-catching printed materials like brochures, business cards, banners, and promotional items that effectively communicate your brand's message. As a leader in the Abu Dhabi printing industry, Printing Talks is dedicated to sustainability and eco-friendly practices, ensuring that all our products not only meet but exceed environmental standards. Our team of expert designers and technicians work closely with clients to bring their visions to life, offering personalized service and attention to detail that is unmatched in the region. With a reputation for delivering projects on time and within budget, we are the go-to choice for businesses seeking reliable and professional printing and packaging services. Explore our portfolio to see how we've helped businesses stand out with our innovative and custom solutions."
>
	<main class="space-y-[96px] relative">
		<!-- Header and navigation -->
		<section
			id="hero"
			class="md:mx-24 relative rounded-3xl p-6 h-[80svh] min-h-[632px] max-h-[752px] grid place-items-center overflow-hidden"
		>
			<div
				id="hero-text"
				class="z-10 p-4 lg:backdrop-blur-lg rounded-2xl flex flex-col gap-2"
			>
				<h1 class="max-w-[600px]">
					Custom packaging that leaves an
					<span class="font-bold">impact</span>
				</h1>
				<p class="text-xl">
					Make a great impression, even before your packages are unboxed!
				</p>
			</div>
			<img
				class="invisible lg:visible absolute -right-10 h-[100%]"
				src="./images/hero.svg"
				alt=""
			/>
		</section>
		<!-- Best Sellers Carousel -->
		<div id="best-sellers-carousel" class="flex flex-col gap-6">
			<h3 class="px-4 md:px-24">
				Our best sellers. <span class="text-neutral font-thin"
					>Explore our best selling products across a range of categories</span
				>
			</h3>
			<BestSellerCarousel client:load />
		</div>
		<!-- Testimonials Carousel -->
		<div id="testimonials-carousel" class="flex flex-col gap-6">
			<h3 class="px-4 md:px-24">
				Testimonials. <span class="text-neutral font-thin"
					>Trust is at the core of everything we do</span
				>
			</h3>
			<TestimonialCarousel client:load />
		</div>
		<div class="mx-4 md:mx-24">
			<QuoteForm client:load />
		</div>
		<!-- Footer -->
	</main>
</Boilerplate>
