---
import Boilerplate from "../layouts/Boilerplate.astro";
import QuoteForm from "../components/QuoteForm";
import BestSellerCarousel from "../components/BestSellerCarousel";
import TestimonialCarousel from "../components/TestimonialCarousel";
---

<Boilerplate
	title="Printing Talks"
	description="PrintingTalks is a UAE based printing and packaging company that provides high quality products and timely services."
>
	<main class="space-y-[96px] relative">
		<!-- Header and navigation -->
		<div
			id="hero"
			class="md:mx-24 relative rounded-3xl p-6 h-[80svh] min-h-[632px] max-h-[752px] grid place-items-center overflow-hidden"
		>
			<div
				id="hero-text"
				class="z-10 p-4 lg:backdrop-blur-lg rounded-2xl flex flex-col gap-2"
			>
				<h1 class="max-w-[600px]">
					Custom packaging that leaves an
					<span class="font-bold">impact</span>
				</h1>
				<h6>Make a great impression, even before your packages are unboxed!</h6>
			</div>
			<img
				class="invisible lg:visible absolute -right-10 h-[100%]"
				src="./images/hero.svg"
				alt=""
			/>
		</div>
		<!-- Best Sellers Carousel -->
		<div id="best-sellers-carousel" class="flex flex-col gap-6">
			<h3 class="pl-4 md:pl-24">
				Our best sellers. <span class="text-neutral font-thin"
					>Explore our best selling products across a range of categories</span
				>
			</h3>
			<BestSellerCarousel client:load />
		</div>
		<!-- Testimonials Carousel -->
		<div id="testimonials-carousel" class="flex flex-col gap-6">
			<h3 class="pl-4 md:pl-24">
				Testimonials. <span class="text-neutral font-thin"
					>Trust is at the core of everything we do</span
				>
			</h3>
			<TestimonialCarousel client:load />
		</div>
		<div class="mx-4 md:mx-24">
			<QuoteForm client:load />
		</div>
		<!-- Footer -->
	</main>
</Boilerplate>
