---
import Boilerplate from "../layouts/Boilerplate.astro";
import ProductsGrid from "../components/ProductsGrid";
---

<Boilerplate title="Printing Talks">
  <div class="flex flex-col">
    <div
      class="top-banner flex flex-col h-[12rem] md:h-[14rem] justify-center gap-1 self-stretch border-b border-solid p-4 md:px-12"
    >
      <h4 class="font-medium text-3xl">Products</h4>
      <p class="text-neutral text-xl">
        Design and order a wide range of fully customisable packaging products
        for your brand.
      </p>
    </div>
    <ProductsGrid client:load />
  </div>
</Boilerplate>
