<footer
  class="flex justify-between items-end p-10 bg-base-200 text-base-content mx-auto w-[100%] mt-16"
>
  <aside>
    <img src="../images/printing-talks.svg" alt="Printing Talks Logo" />
    <br />
    <p>
      Printing Talks<br /><span class="text-xs">It really does...</span>
    </p>
  </aside>
  <p class="text-xs">Copyright Printing Talks 2023</p>
</footer>
