<footer
  class="flex justify-between items-center p-10 bg-base-200 text-base-content mx-auto w-[100%] mt-16"
>
  <aside>
    <div class="flex gap-3">
      <img src="../images/printing-talks.svg" alt="Printing Talks Logo" />
      <p>
        Printing Talks<br /><span class="text-xs">It really does...</span>
      </p>
    </div>
    <div class="flex gap-2">
      <a href="https://www.instagram.com/printingtalks.ae/">
        <img
          class="mt-3"
          src="/images/instagram-logo.svg"
          alt="Instagram Logo as a link to the PrintingTalks instagram account"
        />
      </a>
      <a href="mailto:abdulla@printingtalks.ae">
        <img
          class="mt-3"
          src="/images/envelope.svg"
          alt="Instagram Logo as a link to the PrintingTalks instagram account"
        />
      </a>
    </div>
  </aside>

  <div class="flex flex-col gap-2 justify-end items-end">
    <a href="/docs/printing-talks-press-llc-gmp-cert.pdf"
      ><img
        class="w-16 h-16"
        src="/images/gmp-logo.png"
        alt="Goods Manufacturing Practice Standards Logo"
      />
    </a>

    <p class="text-xs">Copyright Printing Talks 2023</p>
  </div>
</footer>
