<section
  id="request-quote-form-section"
  class="w-full rounded-3xl bg-accent grid place-items-center p-6 text-accent-content"
>
  <h2 class="text-3xl lg:text-4xl">Request a quote</h2>
  <p class="text-lg lg:text-xl">Get a custom quote for boxes and more.</p>

  <form id="request-quote-form" class="form-control w-full max-w-xs">
    <!-- First Name -->
    <label class="label">
      <span class="label-text text-accent-content">First Name</span>
    </label>
    <input
      type="text"
      placeholder="First Name"
      class="input input-bordered text-base-content w-full"
      required
    />

    <!-- Last Name -->
    <label class="label">
      <span class="label-text text-accent-content">Last Name</span>
    </label>
    <input
      type="text"
      placeholder="Last Name"
      class="input input-bordered text-base-content w-full"
      required
    />

    <!-- Email -->
    <label class="label">
      <span class="label-text text-accent-content">Email</span>
    </label>
    <input
      type="email"
      placeholder="Email"
      class="input input-bordered text-base-content w-full"
      required
    />

    <!-- Phone Number -->
    <label class="label">
      <span class="label-text text-accent-content">Phone Number</span>
    </label>
    <input
      type="tel"
      placeholder="Phone Number"
      class="input input-bordered text-base-content w-full"
      required
    />

    <!-- Packaging Products Select -->
    <label class="label">
      <span class="label-text text-accent-content"
        >What packaging products are you interested in?</span
      >
    </label>
    <select class="select select-bordered text-base-content w-full" required>
      <option disabled selected>Select one</option>
      <option>Product 1</option>
      <option>Product 2</option>
      <option>Product 3</option>
    </select>

    <!-- Artwork Select -->
    <label class="label">
      <span class="label-text text-accent-content">Do you have artwork?</span>
    </label>
    <select class="select select-bordered text-base-content w-full" required>
      <option disabled selected>Select one</option>
      <option>Yes</option>
      <option>No</option>
    </select>

    <!-- Quantity Select -->
    <label class="label">
      <span class="label-text text-accent-content">Quantity</span>
    </label>
    <select class="select select-bordered text-base-content w-full" required>
      <option disabled selected>Select one</option>
      <option>Small</option>
      <option>Medium</option>
      <option>Large</option>
    </select>

    <!-- Submit Button -->
    <button type="submit" class="btn mt-4 max-w-fit mx-auto">Submit</button>
  </form>
</section>
